
html {
  min-height: 100%;
  position: relative;
  font-family: sans-serif;
}

#footer {
  bottom: 0;
  width: 100%;
  position: absolute;
  background-color: #F6BB42;
}

.footer-social-media-icone {
  width: 35px;
  height: 35px;
}

.number2 {
  z-index: 1 !important;
  position:static !important;
  padding-bottom: 200px;
}
.map-wrapper {
  padding-top: 50%;
}

.top-cont {
  padding-bottom: 15%;
}